<footer>
	<div id="footer-left">
		<a href="mailto:zhonghas@usc.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/HaaaO"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://scholar.google.com/citations?user=GA6kDcMAAAAJ&hl=en"><i class="fa-lg fa fa-graduation-cap footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Zhonghao Shi <br> Website template from Fred Hohman
	</div>
	<div id="footer-right">
		Zhonghao Shi is a PhD Candidate at USC working on personalized human-centered AI and machine learning.
	</div>
</footer>
